// Font
$font-stack: "Raleway", sans-serif;
$font-light: 400;
$font-heavy: 700;
// Layout
$mobile-size: 375px;
$desktop-size: 1440px;
// Colors
$primary-gradient-one: hsl(6, 100%, 80%);
$primary-gradient-two: hsl(335, 100%, 65%);
$pale-blue: hsl(243, 100%, 93%);
$grayish-blue: hsl(229, 7%, 55%);
$dark-blue: hsl(228, 56%, 26%);
$darker-blue: hsl(229, 57%, 11%);

html {
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: $darker-blue;
  background-image: url("images/bg-desktop.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  color: #fff;
  font-family: $font-stack;
  font-size: 14px;
}

p {
  font-weight: $font-light;
}

#nowrap {
  flex-wrap: nowrap;
}

#iconbg {
  background-color: $darker-blue;
  border-radius: 10%;
  margin: 0 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container-box {
  margin-left: 280px;
  margin-top: 280px;
}

.card-bg {
  background-color: $dark-blue;
  border-radius: 5% 30% 5% 5%;
  height: 200px;
  margin-top: 27px;
}

.imagecon {
  margin-left: 35px;
  margin-top: 40px;
}

.icon-row {
  margin-left: 30px;
  margin-top: 30px;
}

.prog-box {
  margin-bottom: 200px;
}

.text {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

.text-bg {
  background-color: white;
  border-radius: 0.5em;
  padding: 10px;
}

.text-bg::after {
  border: 45px solid transparent;
  border-bottom: 0;
  border-right: 0;
  border-top-color: white;
  bottom: 53.2%;
  content: "";
  height: 0;
  margin-bottom: -20px;
  margin-left: -10px;
  position: absolute;
  right: 22.1%;
  width: 0;
}

.full-text {
  color: $grayish-blue;
  font-weight: $font-heavy;
}

.num {
  color: $darker-blue;
  font-weight: $font-heavy;
}

.progress-bg {
  background-color: $dark-blue;
  border-radius: 10px;
  height: 150px;
  padding: 20px;
  z-index: -1;
}

.strong {
  font-weight: $font-heavy;
}

.meter {
  background: $darker-blue;
  border-radius: 25px;
  height: 25px;
  padding: 4px;
  position: relative;
  .bar {
    background-image: linear-gradient(
      to right,
      $primary-gradient-one,
      $primary-gradient-two
    );
    border-radius: 8px;
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .circle {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    left: 95%;
    position: absolute;
    width: 20px;
  }
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-text {
  @media screen and (min-width: $mobile-size) {
    display: none;
  }
}

@media screen and (min-width: $desktop-size + 10px) {
  .text-bg::after {
    display: none;
  }
}

@media screen and (max-width: $desktop-size - 10px) {
  .text-bg::after {
    display: none;
  }
}

@media screen and (max-width: $mobile-size) {
  html {
    max-width: $mobile-size;
  }

  body {
    background-image: url("images/bg-mobile.png");
    background-position: center;
    background-size: cover;
  }

  #nowrap {
    flex-wrap: wrap;
  }

  .container-box {
    margin-left: 0;
    margin-top: 100px;
  }

  .meter {
    .circle {
      left: 91%;
    }
  }

  .text {
    display: none;
  }

  .mobile-text {
    display: flex;
    justify-content: flex-end;
    margin-right: 95px;
  }

  .mobile-text-bg {
    background-color: white;
    position: absolute;
    bottom: 15%;
    padding: 10px;
    border-radius: 0.5em;
  }
}
